body {
    font-family: Arial, sans-serif;
    background-color: #daf578;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 50%;
    margin: 50px auto;
    background-color: #53b4e4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #8f216e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d8974d;
  }
  body{
    background-image: url(IMG_0027.JPG);
    background-position:center ;
    background-repeat: no-repeat;
    backface-visibility: inherit;
    background-size: cover;

  }
  
